html{
    background-image:url("../../Pictures/Background.png");
    background-repeat:repeat-x;
}

#Container{
    width:800px;
    height:auto;
    margin-right: auto;
    margin-left: auto;

}

#Picture{
    padding-top:1px;
}

#Menu{
    width:800px;
    height:50px;
    padding-top:1px;
    background-image:url("../../Pictures/Menu.png");
}

#Menu a{
    padding-left: 90px;
    text-decoration: none;

}

#menu a:visited{
    text-decoration: none;
}

#Content{
    width:800px;
    height:auto;
}

p.font {
    font-family:sans-serif;
    letter-spacing:1px;
}



