html {
    background-color:peru;
}

div#Container{
    width:800px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
}

div#Menu{
    width:auto;
    height:100px;
    padding-top: 50px;
    color:red;
}

#Menu a{

}

div#header{
    image:url(.../Raw_Pictures/kikut-Entrep-Asfalt.jpg)
}


