html{
    background-image:url("../../Pictures/Background.png");
    background-repeat:repeat-x;
}

#Container{
    width:800px;
    height:auto;
    margin-right: auto;
    margin-left: auto;

}

#Picture{
    padding-top:1px;
}

#Menu{
    width:800px;
    height:50px;
    padding-top:1px;
    background-image:url("../../Pictures/Menu.png");
}

#Menu a{
    padding-left: 90px;

}

#Content{
    width:auto;
    height:350px;
    padding-bottom:3em;
}

#Footer {
    box-shadow:3px 3px 1px #666;
    width: 800px;
    height:25px;
    position: fixed;
    bottom:5px;
    border-radius: 300px;
    background-image:url("../../Pictures/Menu.png");
}

#Footer a {
    padding-left: 80px;
    padding-right: 20px;
}


