#Room1 p {
    padding-top:10px;
    width:490px;
    height:170px;
    float:left;
}



#Room1 img {
    margin-top:4px;
    border-radius: 10px;
    border: solid green 1px;
}

#Book-bar {
    width: 800px;
    height: 25px;
}

#Room2 p {
    padding-top:30px;
    width:490px;
    height:160px;
    float:left;
}

#Room2 img {
    margin-top:4px;
    border-radius: 10px;
    border: solid green 1px;
}

#Room3 p {
    padding-top:30px;
    width:490px;
    height:150px;
    float:left;
}

#Room3 img {
    margin-top:4px;
    border-radius: 10px;
    border: solid green 1px;

}

#Last-Book-bar {
    width: 800px;
    height: 25px;
    padding-bottom: 100px;
}